.git
.github
node_modules
vendor
.env
.env.*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/*.key
database/database.sqlite
public/build
public/hot
public/storage
tests
.phpunit.result.cache
README.md
